/movie-catalog-service.zip
/movie-catalog-service/.mvn/wrapper/MavenWrapperDownloader.java
/movie-catalog-service/.mvn/wrapper/maven-wrapper.jar
/movie-catalog-service/.mvn/wrapper/maven-wrapper.properties
/movie-catalog-service/mvnw
/movie-catalog-service/mvnw.cmd
/movie-catalog-service/.mvn/wrapper/maven-wrapper.jar
/movie-info-service.zip
/movie-info-service/.mvn/wrapper/MavenWrapperDownloader.java
/movie-info-service/.mvn/wrapper/maven-wrapper.jar
/movie-info-service/.mvn/wrapper/maven-wrapper.properties
/movie-info-service/mvnw
/movie-info-service/mvnw.cmd
/ratings-data-service.zip
/ratings-data-service/.mvn/wrapper/MavenWrapperDownloader.java
/ratings-data-service/.mvn/wrapper/maven-wrapper.jar
/ratings-data-service/.mvn/wrapper/maven-wrapper.properties
/ratings-data-service/mvnw
/ratings-data-service/mvnw.cmd
/movie-catalog-service/.mvn/wrapper/maven-wrapper.jar
